@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@font-face{
font-family: Anton;
src: url('./assets/Anton/Anton-Regular.ttf') format('truetype');
}
/* set colors for theme */
@theme{

  --color-primary-1: #000000;
  --color-primary-2: #FFFFFF;
  --color-secondary-1: #1d1c1e;
  --color-secondary-2: #1d1c1e   ;
  --color-lite-1: oklch(84.1% 0.238 128.85) ;
  --color-lite-2: #;


}


form input{
  @apply border w-full my-1 rounded-xs p-1 text-xs
}


/*direct html modification  */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100dvw;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
  
}

::-webkit-scrollbar{
width: 7px;
overflow: visible;
background: transparent;
position: fixed;

}
::-webkit-scrollbar-thumb{
  background: #000000ed;
  border-radius: 4px;
  width: 8px;
}

html, body{
    overflow-x: hidden;
    background: #0e0d0f;
}
